/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Global Reset */
/* line 2, ../scss/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/_main.scss */
.icons a:hover {
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 26px;
}

/* line 11, ../scss/_main.scss */
.icons {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

/* line 15, ../scss/_main.scss */
.icon-rss {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
}

/* line 22, ../scss/_main.scss */
.icon-github-alt {
  color: white;
  position: absolute;
  top: 55px;
  right: 15px;
}

/* line 29, ../scss/_main.scss */
.icon-stackexchange {
  color: white;
  position: absolute;
  top: 95px;
  right: 15px;
}

/* line 36, ../scss/_main.scss */
html, body {
  height: 100%;
}

/* line 39, ../scss/_main.scss */
html {
  overflow-y: scroll;
}

/* line 43, ../scss/_main.scss */
code {
  font-family: "anonymous-pro";
}

/* line 47, ../scss/_main.scss */
#bottom {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-color: #414844;
  width: 100%;
  height: 8em;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

/* line 56, ../scss/_main.scss */
.content {
  padding: 2em 0em 0em 0em;
}

/* line 61, ../scss/_main.scss */
.container {
  min-height: 100%;
  margin-bottom: -8em;
  position: relative;
}

/* line 67, ../scss/_main.scss */
.clearfooter {
  height: 8em;
  clear: both;
}

/* line 72, ../scss/_main.scss */
body {
  background-color: #F0F0F0;
  font-family: "freight-micro-pro",serif;
  text-align: center;
}

/* line 78, ../scss/_main.scss */
h1 {
  margin-bottom: .5em;
  font-style: normal;
  font-size: 1.5em;
}

/* line 84, ../scss/_main.scss */
p {
  margin: 1em 0;
}

/* line 86, ../scss/_main.scss */
em {
  font-style: italic;
}

/* line 90, ../scss/_main.scss */
strong {
  font-weight: bold;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 100, ../scss/_main.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 105, ../scss/_main.scss */
ul.posts li {
  line-height: 1.75em;
}

/* line 109, ../scss/_main.scss */
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* line 115, ../scss/_main.scss */
.the_post {
  padding-bottom: 3em;
}

/* line 119, ../scss/_main.scss */
#pagination a {
  font-size: 1em;
  padding: 1em;
  margin: 0.5em;
  border: dashed;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 134, ../scss/_main.scss */
.site {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
  color: #797167;
}

/* line 141, ../scss/_main.scss */
a {
  color: #3888AD;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 149, ../scss/_main.scss */
a:hover {
  color: black;
  background-color: #F5E498;
}

/* line 154, ../scss/_main.scss */
#top {
  background-color: #BA4C58;
  padding: 2.5em 0em 0.4em 0em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

/* line 160, ../scss/_main.scss */
h1 {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 165, ../scss/_main.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* line 170, ../scss/_main.scss */
header h1.title {
  display: inline-block;
  margin-bottom: 0em;
  font-size: 3em;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

/* line 177, ../scss/_main.scss */
header h2.site-description {
  font-family: "anonymous-pro",sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

/* line 186, ../scss/_main.scss */
header h1.title a {
  font-family: "anonymous-pro",sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  font-style: normal;
  padding: 0;
}

/* line 195, ../scss/_main.scss */
header h1.title a:hover {
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 8px;
}

/* line 199, ../scss/_main.scss */
footer {
  color: #fff;
  text-align: left;
}
/* line 202, ../scss/_main.scss */
footer a:link {
  font-weight: normal;
}

/* line 207, ../scss/_main.scss */
footer .contact {
  float: left;
  margin-right: 3em;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0.2em 0em 0em 0em;
}

/* line 215, ../scss/_main.scss */
li {
  list-style-type: circle;
  margin-left: 1em;
}

/* line 220, ../scss/_main.scss */
ul {
  margin-left: 0;
  padding-left: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 233, ../scss/_main.scss */
article pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 239, ../scss/_main.scss */
article ul, article ol {
  margin-left: 1.35em;
}

/* line 243, ../scss/_main.scss */
article code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 249, ../scss/_main.scss */
article pre code {
  border: none;
}

/* terminal */
/* line 254, ../scss/_main.scss */
article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 260, ../scss/_main.scss */
article pre.terminal code {
  background-color: #333;
}

/* line 264, ../scss/_main.scss */
article {
  padding: 0 0 1.5em 0;
  border-bottom: 1px solid gray;
}

/* MEDIA QUERIES-------- */
@media screen and (min-width: 1271px) {
  /* line 275, ../scss/_main.scss */
  .content, header, footer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1270px) {
  /* line 283, ../scss/_main.scss */
  .content, header, footer {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
}
@media screen and (max-width: 1050px) {
  /* line 291, ../scss/_main.scss */
  .content, header, footer {
    width: 57%;
  }
}
@media screen and (max-width: 950px) {
  /* line 297, ../scss/_main.scss */
  .content, header, footer {
    width: 68%;
  }
}
@media screen and (max-width: 750px) {
  /* line 303, ../scss/_main.scss */
  .content, header, footer {
    width: 75%;
  }
}
@media screen and (max-width: 550px) {
  /* line 309, ../scss/_main.scss */
  .content, header, footer {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  /* line 315, ../scss/_main.scss */
  .content, header, footer {
    width: 95%;
  }
}
/* Font-size change for title for small screens*/
@media screen and (max-width: 690px) {
  /* line 322, ../scss/_main.scss */
  header h1.title {
    font-size: 2em;
  }
}
