/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

#bottom {
  @include box-shadow;
  background-color: #414844;
  width: 100%;
  height: 6em;
  position: relative;
}

.content {
  padding: 2em 0em 0em 0em;
}

.container {
  min-height: 100%;
  margin-bottom: -6em;
  position: relative;
}

.clearfooter {
  height: 6em;
  clear: both;
}

body {
  background-color: #F0F0F0;
  font-family: "freight-micro-pro",serif;
  text-align: center;
}

h1 { 
  margin-bottom: .5em;
  font-style: normal;
  font-size: 1.5em;
}

p { margin: 1em 0; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
  color: #797167;
}

a {
  color: #3888AD;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  @include transition-duration(.4s);
}

a:hover {
  color: black;
  background-color: #F5E498;
}

#top {
  background-color: #BA4C58;
  padding: 2em 0em 0.4em 0em;
  @include box-shadow;
}

header h1.title {
  display: inline-block;
  margin-bottom: 0em;
  font-size: 3em;
}

header h2.site-description {
  font-family: "anonymous-pro",sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  color: #fff;
}

header h1.title a {
  font-family: "anonymous-pro",sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  font-style: normal;
  padding: 0;
}

footer {
  color: #fff;
  text-align: left;
  a:link {
    font-weight: normal;
  } 
}

footer .contact {
  float: left;
  margin-right: 3em;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
article pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

article ul, article ol {
  margin-left: 1.35em;
}

article code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

article pre code {
  border: none;
}

/* terminal */
article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

article pre.terminal code {
  background-color: #333;
}

article {
  padding: 0 0 1.5em 0;
  border-bottom: 1px solid gray;
}




/* MEDIA QUERIES-------- */

@media screen and (min-width : 1271px) {
  .content, header, footer {
    width: 40%;
    margin-left:auto;
    margin-right:auto;
  }
}

@media screen and (max-width : 1270px) {
  .content, header, footer {
    margin-left:auto;
    margin-right:auto;
    width: 55%
  }
}

@media screen and (max-width : 1050px) {
  .content, header, footer {
    width: 57%
  }
}

@media screen and (max-width : 950px) {
  .content, header, footer {
    width: 68%
  }
}

@media screen and (max-width : 750px) {
  .content, header, footer {
    width: 75%
  }
}

@media screen and (max-width : 550px) {
  .content, header, footer {
    width: 85%
  }
}

@media screen and (max-width : 480px) {
  .content, header, footer {
    width: 95%
  }
}



/* Font-size change for title for small screens */
@media screen and (max-width : 615px) {
  header h1.title {
    font-size: 2em;
  }
}