---
layout: default
title: Learn You Code
---

<div id="home">
<!--   <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
   --></ul>

     <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h2 class="article-link"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endfor %}


  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
    
    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %} 
  </nav>




</div>



